@import "../../../../style/variables.scss";

.formGroup {
  composes: form-group from global;
  padding-bottom: 20px;
  margin: 0;
  position: relative;
}

.formControl {
  composes: form-control from global;
}

.error {
  position: absolute;
  bottom: 0;
  color: $red;
}

.buttonWrapper {
  text-align: center;
}
