@import "../../style/variables.scss";
@import "../../style/mixins.scss";

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  overflow: auto;
  background: rgba($black, 0.3);
  @include flexbox(center, center);
}

.modal {
  width: 100vw;
  height: 100%;
  padding: 20px;
  margin: 0;
  background: $white;
  box-shadow: 0px 0px 15px 0px rgba($black, 0.5);
  @include flexbox(center, center);
  flex-direction: column;

  @include media-min(sm) {
    width: 80%;
    height: auto;
    margin: 20px 0;
    border-radius: 10px;
  }

  @include media-min(md) {
    width: 50%;
  }
}

.buttonWrapper {
  align-self: flex-end;
}

.content {
  width: 100%;
}
