$darkgray: #444;
$stonegray: #ddd;
$lightgray: #eee;
$black: #000;
$white: #fff;
$red: #dc3545;
$blue: #007bfe;
$yellow: #ffc107;

$breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
);
